* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  font-family: "Rubik Mono One", sans-serif;
  overflow: hidden;
}

/* pagina */

.full-page {
  height: 100vh;
  position: relative;
}

.full-page .content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* contenuti */

.content img {
  width: 700px;
}

.content p {
  color: white;
  font-size: 50px;
  text-transform: uppercase;
}

/* colori */
#green {
  background-color: #004643;
}

#yellow {
  background-color: #ff8e3c;
}

#blue {
  background-color: #8bd3dd;
}

/* menu section */

li {
  margin: 10px;
  list-style-type: none;
  line-height: 40px;
  text-align: center;
}

li a {
  text-decoration: none;
  color: black;
}

.button-menu {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: white;
}

.menu {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  margin-right: 20px;
}

/* shadow section */
